%br
%br
%br
%br

%p{:style => 'margin: 0; padding: 0; padding-left: 300px; width: 600px; font-size: 64px; line-height: 0.9em; color: black;'}
  = params[:message]
%br
%p{:style => 'margin: 0; padding: 0; padding-left: 300px; width: 700px; font-size: 32px; line-height: 1em; text-align: right; color: darkgreen'}
  = params[:author]
