%h1
  h1 titre
%h2
  h2 titre
  %b
    b gras dans h2 titre
%h3
  h3 titre

#bloc
  div bloc
  %h1
    h1 titre dans div bloc
  %h2
    h2 titre dans div bloc
  %p
    %h1
      h1 titre dans p paragraphe dans div bloc

  %table
    %tr
      %td table
      
  #tablindex
    %table
      %tr
        %td index