- if notice
  %div{style: 'position: absolute; right: 16px; margin-top: 8px; color: white; font-size: 150%; background: green; padding: 8px; padding-top: 4px'}
    = notice
- if alert
  %div{style: 'position: absolute; right: 16px; margin-top: 8px; color: white; font-size: 150%; background: blue; padding: 8px; padding-top: 4px'}
    = alert